/*
 * Copyright (C) 2015-2016 Texas Instruments Incorporated - http://www.ti.com/
 *
 * Copyright (C) 2017 TQ Systems (ported AM57xx IDK to TQMa57xx)
 *
 * Author: Stefan Lange <s.lange@gateware.de>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/input/input.h>

/ {

	chosen {
		stdout-path = &uart4;
	};

	buttons: user_buttons {
		compatible = "gpio-keys";
	};

	vcc_5v: fixedregulator-vcc_5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_3v3: fixedregulator-vcc_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_2v5: fixedregulator-vcc_2v5 {
		/* AP7361C  */
		compatible = "regulator-fixed";
		regulator-name = "VCC2V5";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_1v8: fixedregulator-vcc_1v8 {
		/* AP7361C  */
		compatible = "regulator-fixed";
		regulator-name = "VCC1V8";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_1v0: fixedregulator-vcc_1v0 {
		/* TPS62090RGT */
		compatible = "regulator-fixed";
		regulator-name = "VCC1V0";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	status-leds {
		compatible = "gpio-leds";
		heartbeat-led {
			label = "status0:green:heartbeat";
			gpios = <&gpio3 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
		cpu0-led {
			label = "status0:green:cpu0";
			gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "cpu0";
		};
		cpu1-led {
			label = "status0:green:cpu1";
			gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "cpu1";
		};
		error-led {
			label = "status0:red:error";
			gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

	};

    
	/* Dual-MAC Ethernet application node on PRU-ICSS2 */
	pruss2_eth: pruss2_eth {
		compatible = "ti,am57-prueth";
		prus = <&pru2_0>, <&pru2_1>;
		firmware-name = "ti-pruss/am57xx-pru0-prueth-fw.elf",
				"ti-pruss/am57xx-pru1-prueth-fw.elf";
		sram = <&ocmcram1>;
		interrupt-parent = <&pruss2_intc>;
		mii-rt = <&pruss2_mii_rt>;
		iep = <&pruss2_iep>;

		pruss2_emac0: ethernet-mii0 {
			phy-handle = <&dp83822_0>;
			phy-mode = "mii";
			interrupts = <20>, <22>;
			interrupt-names = "rx", "tx";
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};

		pruss2_emac1: ethernet-mii1 {
			phy-handle = <&dp83822_1>;
			phy-mode = "mii";
			interrupts = <21>, <23>;
			interrupt-names = "rx", "tx";
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};
	};

    gpio_in {
        status = "disabled";
		compatible = "gpio-keys";
        
		HwVersion0 {            // mapped on gpiochip3 line 6
			label = "HwVersion0";
			gpios = <&gpio5 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        HwVersion1 {            // mapped on gpiochip3 line 7
			label = "HwVersion1";
			gpios = <&gpio5 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		HwVersion2 {            // mapped on gpiochip2 line 5
			label = "HwVersion2";
			gpios = <&gpio4 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		HwVersion3 {            // mapped on gpiochip3 line 1
			label = "HwVersion3";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        
		LinkDetect {            // mapped on gpiochip1 line 6
			label = "LinkDetect";
			gpios = <&gpio3 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        
		nSupplyError {          // mapped on gpiochip1 line 17
			label = "nSupplyError";
			gpios = <&gpio3 17 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
        
        SafetyIn0 {             // mapped on gpiochip1 line 8
			label = "SafetyIn0";
			gpios = <&gpio3 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        SafetyIn1 {             // mapped on gpiochip1 line 9
			label = "SafetyIn1";
			gpios = <&gpio3 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        SafetyIn2 {             // mapped on gpiochip1 line 10
			label = "SafetyIn2";
			gpios = <&gpio3 10 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        SafetyIn3 {             // mapped on gpiochip1 line 11
			label = "SafetyIn3";
			gpios = <&gpio3 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        TestIO0 {               // mapped on gpiochip1 line 14
            label = "TestIO0";
			gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        TestIO1 {               // mapped on gpiochip1 line 15
            label = "TestIO1";
			gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        TestIO2 {               // mapped on gpiochip1 line 16
            label = "TestIO2";
			gpios = <&gpio3 16 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        TestIO3 {               // mapped on gpiochip0 line 28
            label = "TestIO3";
			gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		Trigger0 {          // mapped on gpiochip2 line 6
			label = "Trigger0";
			gpios = <&gpio4 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
        
		Trigger1 {          // mapped on gpiochip1 line 7
			label = "Trigger1";
			gpios = <&gpio3 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

	};
  


    gpio_out {
        status = "disabled";
		compatible = "gpio-leds";
        
		nInterfaceOE {          // mapped on gpiochip1 line 24
			label = "nInterfaceOE";
			gpios = <&gpio3 24 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
        
        DataOut0 {              // mapped on gpiochip1 line 12
			label = "DataOut0";
			gpios = <&gpio3 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        DataOut1 {              // mapped on gpiochip1 line 13
			label = "DataOut1";
			gpios = <&gpio3 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
        
		

	};
};




&dra7_pmx_core {
	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x37a4, PIN_INPUT_PULLDOWN | MUX_MODE0)      /* spi1_sclk */
			DRA7XX_CORE_IOPAD(0x37a8, PIN_INPUT_PULLDOWN | MUX_MODE0)      /* spi1_d1 */
			DRA7XX_CORE_IOPAD(0x37ac, PIN_OUTPUT | MUX_MODE0)              /* spi1_d0 */
			DRA7XX_CORE_IOPAD(0x37b0, PIN_INPUT_PULLUP | MUX_MODE0)        /* spi1_cs0 */
		>;
	};

	usb2_id_pin: usb2_id_pin {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x3824, PIN_INPUT | MUX_MODE14)	/* WAKEUP3.gpio1_3 */
		>;
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;

	/* Input/Output GPIO Port Expander 16 bit */
	expander1: pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		interrupt-parent = <&gpio2>;
		interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&vcc_3v3>;
		status = "okay";
		wakeup-source;
	};

	/* Output GPIO Port Expander 16 bit */
	expander2: pca9555@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		interrupt-parent = <&gpio5>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&vcc_3v3>;
		status = "okay";
		wakeup-source;
	};
};

&mcspi1 {
   
	compatible = "linux,spi-mcspi-slave";
	mem = <0x48098000 0x1000>;
	#address-cells = <1>;
    #size-cells = <0>;
    reg = <0x48098000 0x1000>;
    interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
	ti,spi-num-cs = <1>;
	ti,hwmods = "mcspi1";
	dmas = <&sdma_xbar 35>,
	       <&sdma_xbar 36>;
	dma-names = "tx0", "rx0";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins>;
    status = "okay";
	
	spislave0@0 {
		compatible = "linux,spislave";
		spi-max-frequency = <48000000>;
		reg = <0>; /* chip select 0*/   
		};
				
};

/* Debug UART */
&uart4 {
	status = "okay";
	interrupts-extended = <&crossbar_mpu GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH
			       &dra7_pmx_core 0x33c>;
	wakeup-source;
};

&mac {
	status = "okay";
	dual_emac;
};

&cpsw_emac0 {
	phy-handle = <&dp83867_0>;
	phy-connection-type = "rgmii-id";
	dual_emac_res_vlan = <1>;
};

&cpsw_emac1 {
	phy-handle = <&dp83867_1>;
	phy-connection-type = "rgmii-id";
	dual_emac_res_vlan = <2>;
};

&davinci_mdio {
	dp83867_0: ethernet-phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,min-output-impedance;
		reset-gpio = <&expander2 10 GPIO_ACTIVE_LOW>;
	};

	dp83867_1: ethernet-phy@3 {
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_75_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,min-output-impedance;
		reset-gpio = <&expander2 11 GPIO_ACTIVE_LOW>;
	};
};

&usb1 {
	dr_mode = "host";
};

&usb2 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_id_pin>;
	dr_mode = "otg";
};

/* sd card */
&mmc1 {
	status = "okay";
	vmmc-supply = <&vdd_3v3>;
	vmmc_aux-supply = <&ldo1_reg>;
	bus-width = <4>;
	cd-gpios = <&gpio6 27 GPIO_ACTIVE_LOW>; /* gpio 219 */
	wp-gpios = <&gpio6 28 GPIO_ACTIVE_HIGH>; /* gpio 220 */
	pinctrl-names = "default", "hs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_hs>;
};

&ehrpwm1 {
	status = "okay";
};

&epwmss1 {
	status = "okay";
};

&mailbox3 {
	status = "okay";
	mbox_pru1_0: mbox_pru1_0 {
		status = "okay";
	};
	mbox_pru1_1: mbox_pru1_1 {
		status = "okay";
	};
};

&mailbox4 {
	status = "okay";
	mbox_pru2_0: mbox_pru2_0 {
		status = "okay";
	};
	mbox_pru2_1: mbox_pru2_1 {
		status = "okay";
	};
};

&pruss1_tm {
	status = "okay";
};

&pruss2_tm {
	status = "okay";
};

&pruss2_mdio {
	status = "okay";
	reset-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>,
		      <&gpio5 9 GPIO_ACTIVE_LOW>;
	reset-assert-us = <2>;
	dp83822_0: ethernet-phy@0 {
		reg = <0>;
	};

	dp83822_1: ethernet-phy@1 {
		reg = <1>;
	};
};

&omap_dwc3_2 {
	extcon = <&extcon_usb2>;
};


