// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for TQ AM57xx baseboard MBa57xx.
 *
 * Copyright 2020 TQ-Systems GmbH
 *
 * Author: Michael Krummsdorf <michael.krummsdorf@tq-group.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/input/input.h>

/ {

	aliases {
		spi1 = &mcspi1;
	};

	chosen {
		stdout-path = &uart4;
	};

	buttons: user_buttons {
		compatible = "gpio-keys";
	};

	vcc_5v: fixedregulator-vcc_5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_3v3: fixedregulator-vcc_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_2v5: fixedregulator-vcc_2v5 {
		/* AP7361C  */
		compatible = "regulator-fixed";
		regulator-name = "VCC2V5";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_1v8: fixedregulator-vcc_1v8 {
		/* AP7361C  */
		compatible = "regulator-fixed";
		regulator-name = "VCC1V8";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_1v0: fixedregulator-vcc_1v0 {
		/* TPS62090RGT */
		compatible = "regulator-fixed";
		regulator-name = "VCC1V0";
		vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	status-leds {
		compatible = "gpio-leds";
		heartbeat-led {
			label = "status0:green:heartbeat";
			gpios = <&gpio3 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
		cpu0-led {
			label = "status0:green:cpu0";
			gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "cpu0";
    		status = "disabled";
		};
		cpu1-led {
			label = "status0:green:cpu1";
			gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "cpu1";
    		status = "disabled";
		};
		error-led {
			label = "status0:red:error";
			gpios = <&gpio2 31 GPIO_ACTIVE_HIGH>;
			default-state = "off";
    		status = "disabled";
		};

	};

    
	/* Dual-MAC Ethernet application node on PRU-ICSS2 */
	pruss2_eth: pruss2_eth {
		compatible = "ti,am57-prueth";
		prus = <&pru2_0>, <&pru2_1>;
		firmware-name = "ti-pruss/am57xx-pru0-prueth-fw.elf",
				"ti-pruss/am57xx-pru1-prueth-fw.elf";
		sram = <&ocmcram1>;
		interrupt-parent = <&pruss2_intc>;
		mii-rt = <&pruss2_mii_rt>;
		iep = <&pruss2_iep>;

		pruss2_emac0: ethernet-mii0 {
			phy-handle = <&dp83822_0>;
			phy-mode = "mii";
			interrupts = <20>, <22>;
			interrupt-names = "rx", "tx";
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};

		pruss2_emac1: ethernet-mii1 {
			phy-handle = <&dp83822_1>;
			phy-mode = "mii";
			interrupts = <21>, <23>;
			interrupt-names = "rx", "tx";
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};
	};
};

&dra7_pmx_core {
	spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x37a4, PIN_INPUT_PULLDOWN | MUX_MODE0)      /* spi1_sclk */
			DRA7XX_CORE_IOPAD(0x37a8, PIN_INPUT_PULLDOWN | MUX_MODE0)      /* spi1_d1 */
			DRA7XX_CORE_IOPAD(0x37ac, PIN_OUTPUT | MUX_MODE0)              /* spi1_d0 */
			DRA7XX_CORE_IOPAD(0x37b0, PIN_INPUT_PULLUP | MUX_MODE0)        /* spi1_cs0 */
		>;
	};

	usb2_id_pin: usb2_id_pin {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x3824, PIN_INPUT | MUX_MODE14)	/* WAKEUP3.gpio1_3 */
		>;
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;

	/* Input/Output GPIO Port Expander 16 bit */
	expander1: pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		interrupt-parent = <&gpio2>;
		interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&vcc_3v3>;
		status = "okay";
		wakeup-source;
	};

	/* Output GPIO Port Expander 16 bit */
	expander2: pca9555@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;
		interrupt-parent = <&gpio5>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		interrupt-controller;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&vcc_3v3>;
		status = "okay";
		wakeup-source;
	};
};

&mcspi1 {
	compatible = "sqp,spi-mcspi-slave";
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins>;
    status = "okay";
	
	spislave0@0 {
		compatible = "linux,spislave";
		spi-max-frequency = <48000000>;
		reg = <0>; /* chip select 0*/   
	};
};

/* Debug UART */
&uart4 {
	status = "okay";
	interrupts-extended = <&crossbar_mpu GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH
			       &dra7_pmx_core 0x33c>;
	wakeup-source;
};

&mac {
	status = "okay";
	dual_emac;
};

&cpsw_emac0 {
	phy-handle = <&dp83867_0>;
	phy-connection-type = "rgmii-id";
	dual_emac_res_vlan = <1>;
};

&cpsw_emac1 {
	phy-handle = <&dp83867_1>;
	phy-connection-type = "rgmii-id";
	dual_emac_res_vlan = <2>;
};

&davinci_mdio {
	dp83867_0: ethernet-phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,min-output-impedance;
		reset-gpio = <&gpio3 22 GPIO_ACTIVE_LOW>;
    	reset-delay-us = <2>;   /* PHY datasheet states 1us min */
		reset-assert-us = <2>;  /* PHY datasheet states 1us min */
		reset-deassert-us = <2>;
	};

	dp83867_1: ethernet-phy@3 {
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_250_PS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,min-output-impedance;
		reset-gpio = <&gpio3 23 GPIO_ACTIVE_LOW>;
    	reset-delay-us = <2>;   /* PHY datasheet states 1us min */
		reset-assert-us = <2>;
		reset-deassert-us = <2>;
	};
};

&usb1 {
	dr_mode = "host";
};

&usb2 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_id_pin>;
	dr_mode = "otg";
};

/* sd card */
&mmc1 {
	status = "okay";
	vmmc-supply = <&vdd_3v3>;
	vmmc_aux-supply = <&ldo1_reg>;
	bus-width = <4>;
	cd-gpios = <&gpio6 27 GPIO_ACTIVE_LOW>; /* gpio 219 */
	wp-gpios = <&gpio6 28 GPIO_ACTIVE_HIGH>; /* gpio 220 */
	pinctrl-names = "default", "hs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_hs>;
};

&ehrpwm1 {
	status = "okay";
};

&epwmss1 {
	status = "okay";
};

&mailbox3 {
	status = "okay";
	mbox_pru1_0: mbox_pru1_0 {
		status = "okay";
	};
	mbox_pru1_1: mbox_pru1_1 {
		status = "okay";
	};
};

&mailbox4 {
	status = "okay";
	mbox_pru2_0: mbox_pru2_0 {
		status = "okay";
	};
	mbox_pru2_1: mbox_pru2_1 {
		status = "okay";
	};
};

&pruss1_tm {
	status = "okay";
};

&pruss2_tm {
	status = "okay";
};

&pruss2_mdio {
	status = "okay";
	reset-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>, <&gpio5 9 GPIO_ACTIVE_LOW>;
	reset-assert-us = <20>;		/* DP83822 min 10 us reset pulse according datasheet */
	reset-deassert-us = <20>;
	dp83822_0: ethernet-phy@0 {
		reg = <0>;
	};

	dp83822_1: ethernet-phy@1 {
		reg = <1>;
	};
};

&omap_dwc3_2 {
	extcon = <&extcon_usb2>;
};
